<app-navbar></app-navbar>
<app-step-bar [currentStep]="currentStep()"></app-step-bar>
<div class="grid grid-cols-1 lg:grid-cols-2 h-[calc(100vh-6.5rem)]">
  <div
    class="px-5 lg:px-10 pt-10 flex flex-col overflow-auto custom-scrollbar bg-slate-50"
  >
    <router-outlet></router-outlet>
    <div
      class="flex space-x-2 sticky bottom-0 bg-gradient-to-t from-slate-50 via-slate-50/90 to-slate-50/0 pb-5 pt-10 rounded z-20 mt-auto"
    >
      @if (previousStep) {
      <app-button
        (onClick)="visitStep(previousStep.key)"
        theme="secondary"
        icon="ArrowLeftIcon"
        [label]="'Previous'"
      />
      } @if (nextStep) {
      <app-button
        (onClick)="visitStep(nextStep.key)"
        class="ml-auto"
        icon="ArrowRightIcon"
        iconAtEnd
        [label]="'Next'"
      ></app-button>
      }
    </div>
  </div>

  <app-cv-view
    class="{{
      cvViewShowing() ? 'flex' : 'hidden lg:flex'
    }} flex-col bg-slate-50 fixed w-full h-full top-0 left-0 lg:static lg:h-auto lg:w-auto z-[60] overflow-auto custom-scrollbar"
  ></app-cv-view>
  <app-button
    (onClick)="toggleCvViewShowing()"
    [title]="cvViewShowing() ? 'Hide View' : 'Show View'"
    variant="icon"
    [icon]="cvViewShowing() ? 'EyeClosedIcon' : 'EyeIcon'"
    class="fixed right-5 bottom-20 z-[61] lg:hidden"
    size="l"
  ></app-button>
</div>
